*
{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}

.profilelogo
{
	width: 13%;
	height: 24%;
	border-radius: 8px;
}

.starlogo
{
	width: 80px;
	height: 75px;
}	

.NameLogo
{ 
  font-size: 70;
 font-weight: 1000;
}

.main
{
	width: 100%;
	height: 100%;
	background-image: url(../images/Background/Background.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.bubbles img
{
	width: 50px;
	animation: bubble 7s linear infinite;
}

.bubbles 
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -70;
}

@keyframes bubble
{
	0%
	{
		transform: translateY(0);
		opacity: 0;
	}
	50%
	{
		
		opacity: 1;
	}
	70%
	{
		
		opacity: 1;
	}
	100%
	{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

@keyframes statuss
{
	 0% {
    transform: scale(.5);
    
  }

  100% {
 
  }
}

.statimation
{
margin: 0 auto;

  animation-name: statuss;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;


}


*.bubbles img:nth-child(1)
{
	animation-delay: 2s;
	width: 25px;
}
.bubbles img:nth-child(2)
{
	animation-delay: 1s;
}
.bubbles img:nth-child(3)
{
	animation-delay: 3s;
	width: 25px;
}
.bubbles img:nth-child(4)
{
	animation-delay: 4.5s;
}
.bubbles img:nth-child(5)
{
	animation-delay: 3s;
	width: 25px;
}
.bubbles img:nth-child(6)
{
	animation-delay: 6s;
}
.bubbles img:nth-child(7)
{
	animation-delay: 2s;
	width: 25px;
}
.bubbles img:nth-child(8)
{
	animation-delay: 5s;
}



.logo
{
	width: 300px;
	cursor: pointer;
}
.Bar
{
	color: #e2df36;
	font-size: 30px;
	width: 95%;
	height: 12%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Submitbtn
{
	font-weight: 1000;

}
button
{
  font-weight: bold;
  color: #fbeaa7;
  padding: 10px 60px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 35px;
  outline: none;
  cursor: pointer;
}

button:hover 
{
  text-decoration: none;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border: 2px solid #f3eac2; 
  border-radius: 35px;
  padding: 10px 60px;
  background-color: #f5b461;
  outline:none;
  cursor: pointer;
}
.shophome
{
  font-weight: 1000;
  margin: auto;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 89%;
  height: 76%;
  padding: 30px;
  border: 4px solid #fbeaa7;
  color: #e2df36;
  font-size: 30px;
  line-height: 25px;
  display: grid;
  grid-template-columns: 5px 300px 5px 300px 5px 300px 5px 300px 5px 300px ;  
  grid-gap: 15px;
  min-height: 20vh;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  overflow: auto;
}

.tableborder
{
	border: 5px solid black;
	padding: 15px;
	text-align: center;
	border-spacing: 5px;
}
.Settinghome
{
  font-weight: 1000;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 89%;
  height: 76%;
  padding: 30px;
  border: 4px solid #fbeaa7;
  color: #e2df36;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  min-height: 25vh;
  background-color: #2a2a72;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  overflow: auto;
}

.Updatehome
{
  font-weight: 1000;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 89%;
  height: 76%;
  padding: 30px;
  border: 4px solid #fbeaa7;
  color: #e2df36;
  font-size: 30px;
  line-height: 28px;
  display: flex;

  min-height: 25vh;
  background-color: #2a2a72;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  overflow: auto;
}

h1
{
	font-size: 100px;
	margin: 10px 0 30px;
	line-height: 25px;
    justify-content: center;
}

h2
{
	font-size: 30px;
	line-height: 80px;
}

table, th {
  border: 5px solid black;
  padding: 15px;
  font-size: 40px;
  text-align: center;
  border-spacing: 5px;
  font-weight: 1000;
  color: #e2df36;
 
}

td 
{
  border: 5px solid black;
  padding: 15px;
  font-size: 40px;
  text-align: center;
  border-spacing: 5px;
  font-weight: 1000;
  color: #e2df36;
  width: 5000px;
}

.samples
{
	
	background-image: url(../images/Background/Background.jpg);
	border:none;
	cursor: pointer;
        width: 300px;
        height: 300px;
}

.shoplogo
{
	height: 150px;
	width: 150px;
	cursor: pointer;
}
.shoplogolong
{
	height: 250px;
	width: 200px;
	cursor: pointer;
}
